@import "tailwindcss";

@theme {
  --color-primary: #242424;
  --color-secondary: #ababab;
  --color-tertiary: rgba(20, 120, 200, 0.87);
  --color-button: rgba(67, 67, 67, 0.87);

  --color-hover: rgba(255, 67, 67, 0.87);

  --color-darkFont: rgba(0, 0, 0, 1);
  --color-lightFont: rgba(240, 240, 240, 1);

  /* Colorblind accessible colors for players */
  --color-player1: rgb(9, 9, 9);
  --color-player2: rgb(46, 37, 133);
  --color-player3: rgb(51, 117, 56);
  --color-player4: rgb(93, 168, 153);
  --color-player5: rgb(148, 203, 236);
  --color-player6: rgb(220, 205, 125);
  --color-player7: rgb(194, 106, 119);
  --color-player8: rgb(159, 74, 150);
  --color-player9: rgb(126, 41, 84);
  --color-player10: rgb(221, 221, 221);
  --color-player11: rgb(221, 221, 221);
  --color-player12: rgb(221, 221, 221);
  --color-player13: rgb(221, 221, 221);
  --color-player14: rgb(221, 221, 221);
  --color-player15: rgb(221, 221, 221);
  --color-player16: rgb(221, 221, 221);

  --font-main: Raleway, sans-serif;
  --font-headerFont: "Poiret One", sans-serif;
  --font-title: Bungee, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --breakpoint-wide: 100rem;

  --grid-template-columns-auto-fit: repeat(auto-fit, minmax(min(calc(var(--spacing) * 36), 100%), 1fr));

  --stripes: 
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff4g,
    #ffffff4g 5%,
    #ffffff99 5%,
    #ffffff99 20%
  );

}

:root {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131516;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

    --stripes: 
  repeating-linear-gradient(
    45deg,
    #ffffff55,
    #ffffff55 5%,
    #ffffff00 5%,
    #ffffff00 20%
  );
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #cccccc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}
h3 {
  font-size: 2.0em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--color-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .stripes {
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff99,
    #ffffff99 5%,
    #ffffff2c 5%,
    #ffffff2c 20%
  );
} */

.CTA {
  background: var(--color-tertiary);
}

.Reset {
  background: var(--color-red-700);
}

/* Player colors */
.player1 {
  background: var(--color-player1);
  color: var(--color-lightFont);
}

.player2 {
  background: var(--color-player2);
  color: var(--color-lightFont);
}
.player3 {
  background: var(--color-player3);
  color: var(--color-lightFont);
}
.player4 {
  background: var(--color-player4);
  color: var(--color-lightFont);
}
.player5 {
  background: var(--color-player5);
  color: var(--color-darkFont);
}
.player6 {
  background: var(--color-player6);
  color: var(--color-darkFont);
}
.player7 {
  background: var(--color-player7);
  color: var(--color-lightFont);
}
.player8 {
  background: var(--color-player8);
  color: var(--color-lightFont);
}
.player9 {
  background: var(--color-player9);
  color: var(--color-lightFont);
}
.player10 {
  background: var(--color-player1);
  color: var(--color-lightFont);
  background-image: var(--stripes);
}
.player11 {
  background: var(--color-player2);
  color: var(--color-lightFont);
  background-image: var(--stripes);
}
.player12 {
  background: var(--color-player3);
  color: var(--color-lightFont);
    background-image: var(--stripes);
}
.player13 {
  background: var(--color-player4);
  color: var(--color-darkFont);
  background-image: var(--stripes);
}
.player14 {
  background: var(--color-player5);
  color: var(--color-darkFont);
  background-image: var(--stripes);
}
.player15 {
  background: var(--color-player6);
  color: var(--color-darkFont);
  background-image: var(--stripes);
}
.player16 {
  background: var(--color-player7);
  color: var(--color-darkFont);
  background-image: var(--stripes);
}
.player17 {
  background: var(--color-player8);
  color: var(--color-lightFont);
  background-image: var(--stripes);
}
.player18 {
  background: var(--color-player9);
  color: var(--color-lightFont);
  background-image: var(--stripes);
}

.fade {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: inherit;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* APP Component CSS */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
